/CVMaker/.vs/CVMaker/v16/Server/sqlite3/db.lock
/CVMaker/.vs/CVMaker/v16/Server/sqlite3/storage.ide
/CVMaker/.vs/CVMaker/v16/Server/sqlite3/storage.ide-shm
/CVMaker/.vs/CVMaker/v16/Server/sqlite3/storage.ide-wal
/CVMaker/.vs/CVMaker/v16/.suo
/CVMaker/.vs/CVMaker/v16/
/CVMaker/.vs/CVMaker/v16/.suo
